/* Обнуление  */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* -------------------------------------------------------- */

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/Gilroy-Bold.woff2");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/Gilroy-Medium.woff2");
}
@font-face {
    font-family: "Gilroy-Semibold";
    src: url("./fonts/Gilroy-Semibold.woff2");
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
body {
    color: #000;
}
.navigation {
    margin: 40px auto 84px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__menu{
    width: 533px;
    display: flex;
    justify-content: space-between;
}
.navigation__menu-base {
    font-size: 14px;
    color: #000;
    font-family: "Gilroy-Medium";
}
.navigation__menu-special {
    color: #f25822;
    font-family: "Gilroy-SemiBold";
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.content__left-h1 {
    font-size: 60px;
    font-family: "Gilroy-Bold";
    max-width: 522px;
    margin-bottom: 17px;
    line-height: 70.31px;
}
.content__left-text {
    font-size: 20px;
    font-family: "Gilroy-Medium";
    color: #888;
    max-width: 466px;
    line-height: 23.44px;
    margin-bottom: 37px;
}
.content__left-btns{
    margin-bottom: 162px;
    display: flex;
    width: 302px;
    justify-content: space-between;
}
.content__left-btns-first {
    font-size: 15px;
    font-family: "Gilroy-Bold";
    color: #ffffff;
    border-radius: 50px;
    background: #f25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    width: 140px;
    height: 50px;
    /* flex-shrink: 0;  ??? не до конца понял,что это и для чего нужно ??? */
}
.content__left-btns-second {
    color: #aaa;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    background: #ffffff;
}
.logos{
    display: flex;
    gap: 48px;
    justify-content: flex-end;
    padding: 97px 0 96px 0;
}
