@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: #020a18;
	font-family: 'Open Sans';
	/* font-family: 'Gillroy-Bold'; */
	color: #fff;
	font-weight: 600;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	max-width: 1146px;
	margin: 0 auto;
}

.header {
	margin-bottom: 160px;
}

.navigation {
	padding: 39px 0;
}

.navigation__link {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
}

.main {
	margin-bottom: 197px;
}

.content__left-side {
	max-width: 604px;
}

.content__left-side h2 {
	color: #3a68b8;
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.content__left-side h1 {
	font-size: 55px;
	font-weight: 800;
	line-height: 130%;
	margin-bottom: 40px;
}

.content__left-side p {
	max-width: 558px;
	font-size: 18px;
	line-height: 160%;
	opacity: 0.7;
	margin-bottom: 50px;
}

.content__btn-list {
}

.btn {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	border-radius: 5px;
	background: #3a68b8;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
}
